*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#title{
    position: absolute;
    top: 10%;
}

.box{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 650px;
    height: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
}